body {
  background-image: url("./stars.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Orbitron", sans-serif;
  color: white;
}

img {
  margin-bottom: 3em;
  max-width: 100%;
}

input {
  margin-top: 1em;
}

label {
  font-size: 1.4em;
  font-weight: 500;
}

p {
  font-size: 1.8em;
  font-weight: 700;
}

.container {
  margin: 3em auto;
  text-align: center;
}

.form-control {
  margin: auto;
}
